/*  your css code here. If applicable */
body{
	background-color:skyblue;
}
.first-para{
	background-color:black;
	color:white;
}
.last-para{
	color:red;
}
.first-list{
	padding:5px;
	background-color:white;
}
.second-list{
	padding:5px;
	background-color:
}
.third-list{
	padding:5px;
	margin:2px;
	background-color:pink;
}